body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: White;
}

.logo, .separadoruno, .separadordos, .separadortres, .separadorcuatro{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  min-height: 100%;
}

.logo{
  background-image: url("images/logo.png");
  min-height: 100%;
  background-size: auto;
}

h3{
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: white;
  text-align:center
}

.text{
  background-color:#000000;
  padding:50px 80px;
}
.separadoruno{
  background-image: url("images/web/colina.png");
}
.separadordos{
  background-image: url("images/web/cohete.png");
}
.separadortres{
  background-image: url("images/web/delfines.png");
}
.separadorcuatro{
  background-image: url("images/web/flor.png");
}
